*{
    margin:0;
    padding:0;
  }
  
body{
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    color:#e6e6e6;
    line-height:2.0;
    background-color:#e6e6e6;
}

  
.firstContainer{
    position: relative;
    background-color: rgb(73, 87, 117);
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding: 0;
}

.Readmore{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.secondContainer{
    background-color:#e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.image{
    width: 50%px;
    margin-top: 50%px;
    justify-content: center;
    display: flex;
}


@media (max-width: 770px){
    .secondContainer{
        margin: 0 10%;
    }

    .image{
        width: 70%;
    }

    body{
        font-size: 13px;
        color:#e6e6e6;
        line-height:1.7;
    }
}
